/* ------------------------------------------------------------------- */
/* ----------------------------- очистка ----------------------------- */
/* ------------------------------------------------------------------- */
.av-form-wrap-2 input,
.av-form-wrap-2 select,
.av-form-wrap-2 textarea,
.av-form-wrap-2 button
{
background-color: transparent;
border:  none;
outline: none;
padding: 0;
margin:  0;
border-radius: 4px;
}
form[name="av_steel_patners_form"] {
box-shadow: 0px 3px 0px #d2d1d1, 0px 6px #a5a5a5;
border-radius: 8px;
}
.av-form-wrap-2{
width:100%;
background-color:white;
border-radius: 0px 0px 4px 4px;
border-bottom: 1px solid #D0D0D0;
border-left: 1px solid #D0D0D0;
border-right: 1px solid #D0D0D0;
color: #000;
}

.av-form-wrap-2 input,.av-form-wrap-2 button,.av-form-wrap-2 select,.av-form-wrap-2 textarea {width: 100%;padding:8px 8px;}

.av-form-wrap-2 label {width: 100%;font-weight: 200}

.av-form-wrap-2 input[name="web_form_submit"] {
background-color: #ff202a;
border: 1px solid #CC0000;
border-radius: 4px;
color: #fff;
margin: 15px;
padding: 8px 8px;
font-weight: bold;
width: auto;
transition: .3s;
}

.av-form-wrap-2 input[name="web_form_submit"]:hover {
background-color: #CB2027;
color: #FFF;
transition: .3s;
}
.title-form-1 {
background-color: #ff202a;
border-bottom:none;
border-radius: 4px 4px 0px 0px;
color: #FFF;
padding: 10px 10px;
}
.title-form-1 p {margin: 0px;font-size: 14px;}

.av-form-wrap-2 .inputtext,
.av-form-wrap-2 .inputtextarea{
border: 2px solid #d4d4d4;
margin-top: 20px;
font-size: 16px;
position: relative;
z-index: 9;
}
.title-form-1 span {font-size: 20px;font-weight: bold}
.av-form-wrap-2 .fom-row {
    margin: 0 auto;
}
.make-diler-form .av-form-wrap-2 .fom-row {
    width: 50%;
}
.make-diler-form .av-form-wrap-2 .fom-row .make-product-title {
    color: #ff202a;
    opacity: 1;
    font-weight: 700;
}
.make-diler-form .av-form-wrap-2 .fom-row:nth-of-type(8) [title][up],
.make-diler-form .av-form-wrap-2 .fom-row:nth-of-type(8) [title] {
    height: auto;
    width: 100%;
    margin-top: 18px;
    margin-bottom: 10px;
    opacity: 1;
    left: 0;
}

.make-diler-form .av-form-wrap-2 .fom-row:nth-of-type(8) [title] {
    top: 0;
}

.make-diler-form .av-form-wrap-2 .fom-row:nth-of-type(3)::after {
    content: 'або';
    position: absolute;
    right: -11px;
    top: 50%;
    color: #888888;
}

/* CHECKBOX */
.make-diler-form .av-form-wrap-2 .fom-row input[type="checkbox"] + label {
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;

}

.make-diler-form .av-form-wrap-2 .fom-row input[type="checkbox"]:not(checked) {
    position: absolute;
    opacity: 0;
}

.make-diler-form .av-form-wrap-2 .fom-row input[type="checkbox"]:not(checked) + label::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid #e2e2e2;
    background-color:  #fff;
    width: 20px;
    height: 20px;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.11);
    border-radius: 2px;
}

.make-diler-form .av-form-wrap-2 .fom-row input[type="checkbox"]:not(checked) + label::after {
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    transition: all .2s;
}

.make-diler-form .av-form-wrap-2 .fom-row input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    width: 20px;
    height: 20px;
    display: inline-block;
    color: #ff202a;
    font: normal normal normal 18px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.make-diler-form .av-form-wrap-2 .fom-row input[type="checkbox"]:checked + label::after {
    left: 26px;
}

.make-diler-form .av-form-wrap-2 .fom-row input[type="checkbox"] {
    width: 20%;
}

.diler-form-submit {
    width:100%;
}

.av-form-wrap-2 .diler-form-submit input[name="web_form_submit"] {
    margin: 15px 0;
}
.av-form-wrap-2 [title] {
    display: block;
    height: 0px;
    position: relative;
    top: 30px;
    left: 10px;
    opacity: 0.5;
    transition: .5s;
    float: left;
}

.av-form-wrap-2 [title][up] {
    display: block;
    height: 0px;
    position: relative;
    font-size: 14px;
    top: 0px;
    left: 10px;
    opacity: 0.5;
    transition: .5s
}

.av-form-wrap-2 [data-security-text-form] {font-size:85%;opacity: .5;margin-top: 0;}

.av-form-wrap-2 div.required span:after {
    content:'*';
    color: #CC0000;
}

.form-required {color: red;}

.error-fld {
    background-repeat: no-repeat;
    background-image: url(images/icon_warn.gif);
    display: block;
    float: left;
    height: 13px;
    width: 15px;
}

[data-form-input-error-123] {
    display:none;
}
[data-form-input-error-123].show {
    z-index: 99;
    color: #000;
    text-align: center;
    width: 100%;
    display: block;
}
.av-form-wrap-2 .required    input[form-error],
.av-form-wrap-2 .required textarea[form-error],
.av-form-wrap-2 .required checkbox[form-error],
.av-form-wrap-2 .required   select[form-error]{border-color:  #ff202a}

@media (max-width: 991px) {
    .make-diler-form .av-form-wrap-2 .fom-row:nth-of-type(3)::after {
        content: 'или';
        display: block;
        width: 100%;
        position: relative;
        top: 0;
        right: 0;
        text-align: center;
    }
}
