.av-vs-cat-st-element-view-photo .big-img img {width: 100%;max-width: 900px; }
.av-vs-cat-st-element-view-photo .small-img,
.av-vs-cat-st-element-view-photo .big-img,
.center-slider-title {text-align: center}
.center-slider-title {border-top: 1px solid rgba(119,127,140, 0.4)}
.center-slider-title h2 {font-size: 220%}
#av-steel-banner .pipe-prod-banner .slick-slide img  {filter: brightness(40%) !important;width: 100%;}
#av-steel-banner .pipe-prod-banner .slick-center img {filter: brightness(100%)!important;}
#av-steel-banner .slick-slide    {text-align: center}
#av-steel-banner .slick-slide h2  {display:none;}
#av-steel-banner .slick-center h2 {
	background-color: rgba(255,255,255,0.7);
	display: inline;
	color: #414042;
	font-size: 20px !important;
	font-weight: bold;
	top: 50px;
	text-align: center;
	text-transform: uppercase;
	margin: 0 auto;
	padding: 3px 17px;
	position: relative;
	z-index: 2;
}
#av-steel-banner .pipe-prod-banner .slick-slide:hover {
	cursor: pointer;
}
#av-steel-banner .slick-arrow.slick-prev {
	background: url(/upload/av_site/landings/pipe/arrow-left-pipe.svg) center center no-repeat;
}
#av-steel-banner .slick-arrow.slick-next {
	background: url(/upload/av_site/landings/pipe/arrow-right-pipe.svg) center center no-repeat;
}
#av-steel-banner .slick-arrow {
	background-size: contain;
	width: 200px;
	height: 112px;
	position: absolute;
	z-index: 9;
	cursor: pointer;
	transition: .4s;
	top: 50%;
	transform: translateY(-50%);
	border:none;
	outline: none;
}
#av-steel-banner .slick-arrow.slick-prev:hover {
	background: url(/upload/av_site/landings/pipe/arrow-left-pipe-hover.svg) center center no-repeat;
	transition: .4s;
}
#av-steel-banner .slick-arrow.slick-next:hover {
	background: url(/upload/av_site/landings/pipe/arrow-right-pipe-hover.svg) center center no-repeat;
	transition: .4s;
}
#av-steel-banner .slick-prev {
	left: 15%;
}
#av-steel-banner .slick-next {
    display: block;
    float: right;
    right: 15%;
}
@media (max-width: 600px) {
#av-steel-banner .slick-center h2 {
	background-color: rgba(255,255,255,0.7);
	display: inline;
	font-size: 18px !important;
	font-weight: bold;
	top: 25px;
	}
	#av-steel-banner .slick-arrow {
		width: 150px;
		height: 80px;
	}
}