.catalog-price {
	 color:red;
}
#alertpopup4 .av-cherepica-popUp {
    padding-right: 0px;
    padding-left: 0px;
}
#alertpopup4 .av-steel-catalog-wrap table {
font-size: 15px;border: 1px solid #808080;
}