/* ------------------------------------------------------------------- */
/* ------------------------------ шрифт ------------------------------ */
/* ------------------------------------------------------------------- */

@font-face { 
font-family: 'Myriad Pro';       /* название одно */ 

src: url(/upload/av_site/landings/av-steel/MyriadPro-Regular.eot?#iefix) format('embedded-opentype');	
src: url(/upload/av_site/landings/av-steel/MyriadPro-Regular.ttf);
src: url(/upload/av_site/landings/av-steel/MyriadPro-Regular.woff) format('woff');
src: url(/upload/av_site/landings/av-steel/MyriadPro-Regular.otf) format("opentype");
font-weight: 400;              /* разная плотность */ 
font-style: normal; 
}

body {
font-family: "Myriad Pro", "Arial" !important;  
color: #868686;
}
.container {padding: 0px}
h1, h2, h3, h4, h5, h6, body strong {
 color: #414042;
}
.main-wrap [logo] {
background: url(/local/templates/landing_av_steel/images-av-steel/logo_AV.svg) center center no-repeat;
background-size: contain;
height: 100px;
margin: 0 auto;
}
input:focus{
	outline: 1px solid #929292;
}
input[type='submit'] {
	outline:none;
}
/*--------------------------МЕНЮ 1------------------------------------*/
.main-wrap .main-menu-fixed {display: inline-flex;font-size: 120%;justify-content: center;background-color: rgb(39, 67, 79);}


.main-wrap .main-menu li   {
list-style-type:none;
padding: 15px;
border-bottom: 1px solid rgba(255,255,255, 0.5)
}
.main-wrap .main-menu-fixed li:hover {
border: none !important; text-decoration: underline;
}
.main-wrap .main-menu-fixed li[call-btn]:hover {
text-decoration: none;
}
@media (max-width: 1200px ) {
.main-wrap .main-menu          {font-size: 100%}
}

.main-wrap .main-menu li a {
color: #ecf0f1;
padding: 5px;
transition: 1s;
}
.main-wrap .main-menu li[call-btn]:hover {border-bottom: 1px solid rgba(255,255,255, 0.5);}
.main-wrap .main-menu li a:hover    {color: #FFF}
.main-wrap .main-menu li[call-btn] a {
border: 3px solid #ED1C24;
border-radius: 4px;
transition: .3s;
}
.main-wrap .main-menu li[call-btn]:hover a {
background-color: #ED1C24;
transition: .3s;
}

.main-wrap .main-menu-fixed   {background-color: #27434F;position:fixed;top: 0px;transition:all 1s;transition-timing-function: ease;z-index:99;}
.main-wrap .main-menu-fixed a	{color: #FFFFFF !important}

.main-wrap .main-menu-fixed li[logo-main-menu] {
    background: url(/local/templates/landing_av_steel/images-av-steel/logo_smart.svg) center center no-repeat;
background-size: 60px;
height: 52px;
width: 64px;
}
.main-wrap .main-menu-fixed li    {border-bottom: none;}
/*----------------------------  MOBILE MENU  ----------------------------------------*/
.flex-menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center !important;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     .flex-menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around !important; 
    align-items: center !important;
}
}
#hamburger {
background-color: rgba(255,255,255,0.9);
border-radius: 4px;
cursor: pointer;
height: 49px;
left: 27px;
top: 25px;
text-align: center;
position: fixed;
width: 60px;
z-index: 99999;
}

#mobile-menu-wrap #mobile-btn {
    right: 27px;
    top: 30px;
    text-align: center;
    position: absolute;
color: red;
padding: 5px 8px; 
border: 2px solid red;
border-radius: 5px;
z-index: 999;
background-color: #fff;
 }
#mobile-menu-wrap #mobile-btn a     {font-size: 15px; color: red;font-weight: bold;}
#mobile-menu-wrap #mobile-btn > ul {margin-bottom: 0px;padding: 0px;}
#mobile-menu-wrap #mobile-btn > ul > li {display: block;}
#hamburger.open span {background-color: #FFF;}

#hamburger.open {background-color: transparent;}
#hamburger:hover span:nth-child(1) {
top: 10px;
-webkit-transition: .20s ease-in-out;
-moz-transition: .20s ease-in-out;
-o-transition: .20s ease-in-out;
transition: .20s ease-in-out;
}

#hamburger:hover span:nth-child(3) {
top: 34px;
-webkit-transition: .16s ease-in-out;
-moz-transition: .16s ease-in-out;
-o-transition: .16s ease-in-out;
transition: .16s ease-in-out;
}

#hamburger span {
z-index: 99 ;
display: block;
position: absolute;
height: 4px;
margin-left: 11px;
width: 64%;
background-color: #000;
border-radius: 5px;
opacity: 1;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .20s ease-in-out;
-moz-transition: .20s ease-in-out;
-o-transition: .20s ease-in-out;
transition: .25s ease-in-out;
}


#hamburger span:nth-child(1) {top: 10px;}
#hamburger span:nth-child(2) {top: 22px;}
#hamburger span:nth-child(3) {top: 34px}
#hamburger.open span:nth-child(1) {
top: 22px;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
-o-transform: rotate(135deg);
transform: rotate(135deg);
}

#hamburger.open span:nth-child(2) {
opacity: 0;
left: -30px;
-webkit-transition: .16s ease-in-out;
-moz-transition: .16s ease-in-out;
-o-transition: .16s ease-in-out;
transition: .16s ease-in-out;
}

#hamburger.open span:nth-child(3) {
top: 22px;
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
-o-transform: rotate(-135deg);
transform: rotate(-135deg);
}

#mobile-menu   {text-align: center;padding: 0px;}
#mobile-menu li{list-style-type: none;margin: 27px 0;}
@media screen and (max-height: 350px) {
#mobile-menu li {margin: 10px}
}
#mobile-menu li a {
color: #FFF;
font-size: 22px;
font-weight: bold
}
#mobile-menu li:hover a {color: #ff202a;}

.bg-mobile-menu.hidden {display: none;}
.bg-mobile-menu {    
display: block;
position: fixed;
width: 100%;
height: 100%;
top: 0px;
z-index: 9999;
background-color: rgba(18,18,18,0.95);
}

[call-back-form]{
max-width: 350px;
    width: 100%;
    position: absolute;
}
[close-form2] {
    background: url(/local/templates/landing_av_steel/images-av-steel/cross_white.svg) no-repeat;
    background-size: cover;
    cursor: pointer!important;
    opacity: 1;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 20px;
    height: 20px
}

/*-------------------------------------- FOOTER  --------------------------------*/

.main-wrap #footer-wrap {
    background-color: rgb(39, 67, 79);
}
.main-wrap #footer-wrap div {font-size: 15px;}
.main-wrap #footer-wrap.fixed {
position: fixed;
bottom: 0px;
width: 100%;
}
.main-wrap #footer-wrap a{
color: #FFF !important;
}
.main-wrap #footer-wrap ul {padding: 0;text-align: center;}
.main-wrap #footer-wrap ul li{
display: inline-block;
margin-top: 30px;
}

.main-wrap #footer-wrap ul li a {
padding: 0px 10px;
transition:  .7s;
color: #FFF ;
cursor: pointer;
}
.main-wrap #footer-wrap ul li a:hover {text-decoration: underline !important}


.main-wrap #footer-wrap [logo] {
background-size: contain;
height: 70px;
margin-bottom: 15px;
}
.main-wrap #footer-wrap #arrow-up {
background: url(/upload/av_site/landings/av-steel/arrow-up.svg) center center no-repeat;
background-size: contain;
width: 40px;
height: 40px;
margin: 0 auto;
margin-top: 20px;
cursor: pointer;
-webkit-transform: rotate(180deg);
transform: rotate(180deg);
}
#arrow-up a {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}
.main-wrap #footer-wrap #arrow-up:before {
content: '';
position: absolute;
top: 20px;
right:20px;
border: 2px solid #FFF;
border-radius: 100%;
-webkit-animation: example2 1.8s ease infinite;
animation: example2 1.8s ease infinite;
z-index: 0;
}
.main-wrap #footer-wrap .footer-right-col ul li {
height: 50px;
width: 30px;
margin: 15px 5px;
transition: .4s;
padding-top: 20px;
}
@media (max-width: 1024px)
	.main-wrap #footer-wrap .footer-right-col ul li {
		margin: -4px 6px;
	}
@media (max-width: 768px ) {
	.main-wrap #footer-wrap ul li a {  padding: 0px 9px; }
	.main-wrap #footer-wrap ul {margin-bottom: 40px }
	.main-wrap #footer-wrap .footer-right-col ul li {
		margin: -4px 17px;
	}
}
.main-wrap #footer-wrap .footer-right-col ul li:hover svg path{
fill: #f92f2f;
}
@keyframes example2 {
0% {width: 0px;height: 0px;opacity: 0;}
25% {opacity: 0;}
50% {opacity: 0.7;}
100% {width: 55px;height: 55px;opacity: 0;top: -8px; right:-8px}
}
span#popUp-text-fromForm{    display: block !important;
	background-color: #FF202A;
	border: 1px solid #D0D0D0;
	color: #FFF;
	border-radius: 6px !important;
    box-shadow: 0px 3px 0px #d2d1d1, 0px 6px #a5a5a5 !important;
	text-align: center;
}
span#popUp-text-fromForm > span{ 
	font-weight: bold;
	font-size: 19px;
	display: block;
	padding: 10px;
} 

.av-alert-popup {
	background: transparent; 
	padding: 0px;
}

.av-alert-popup [close-form2] {
	background: url(/upload/av_site/landings/av-steel/cross_white.svg) no-repeat;
	background-size: cover;
	cursor: pointer !important;
	opacity: 1;
	width: 20px;
	height: 20px;
	margin: 2px;
	position: absolute;
	right: 3px;
	top: 5px;
}
	@media (max-width: 500px) {
		[popup-form-wrap] {padding: 31px;}
		.av-alert-popup [close-form2] {
			right: 34px;
			top: -5px;
		}
	}
#h1Blog h1{color: #FF202A; font-weight: bold;}
#h1Blog span {font-size: 16px;}

[data-form-input-error-123] {
display:none;
}
[data-form-input-error-123].show {
z-index: 99;
color: #000;
text-align: center;
width: 100%;
display: block;}